# Required
POSTGRES_PASSWORD=
# Required
POSTGRES_USER=admin
# Required
POSTGRES_DB=api
# Required
POSTGRES_PORT=5432

# Required in `migration` service of compose.
# Database connection string for migrations.
# You can use "127.0.0.1" if the database is running on the same network,
# otherwise you can use the database container name as the host: "web_template.postgres"
DATABASE_URL=postgres://POSTGRES_USER:POSTGRES_PASSWORD@127.0.0.1/POSTGRES_DB
